/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-color: #000028;
    background-image: url(../images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 375px;
}



.header {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    padding: 10px;
}

    .header:before,
    .header:after,
    .footer:before,
    .footer:after {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        --decor_padding: 10px;
    }

    .header:before,
    .footer:before {
        border-top: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
        top: var(--decor_padding);
        right: var(--decor_padding);
    }

    .header:after,
    .footer:after {
        border-bottom: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        bottom: var(--decor_padding);
        left: var(--decor_padding);
    }




.main {
    padding: var(--padding);
}

.section {
    margin-top: 0px;
    margin-bottom: 50px;
}


.decor {
    color: var(--decor-color);
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 38px;
}

    .decor::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: var(--decor-color);
        top: 9px;
        left: 41px;
        box-shadow: 0 0 4px 2px var(--decor-color);
    }

.header__theme-menu {
    justify-self: flex-end;
    align-self: flex-end;
}

.header__theme-menu-list {
    list-style-type: none;
    display: grid;
    row-gap: var(--button-gap);
    margin-bottom: 58px;
}



.header__theme-menu-button {
    color: var(--text-button-color);
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    text-transform: lowercase;
    cursor: pointer;
    width: 70px;
}



    .header__theme-menu-button:hover {
        outline: 1px solid var(--button-border);
    }

    .header__theme-menu-button:focus-visible {
        outline: none;
        border: 1px solid transparent;
        border-bottom: var(--text-button-color);
    }

.header__theme-menu-button_active {
    outline: solid 1px var(--text-button-color);
    pointer-events: none;
}

.cover_title {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--text-shadow-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 95.7px */
    margin-top: 15px;
    margin-bottom: 0;
}

.rectangle_cover_section {
    display: flex;
    justify-content: flex-end;
}


.rectangle {
    background-color: var(--rectangle-color);
    max-width: 100%;
}

.cover_rectangle {
    max-width: 491px;
    margin: 45px 0 0 0;
    height: fit-content;
}

.rectangle_text {
    color: var(--text-rectangle-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
}

.rectangle_text_bold_cover {
    margin: 0;
    color: var(--text-rectangle-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
}

.rectangle_text_bold {
    margin: 0;
    color: var(--text-rectangle-color);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
    margin-top: 20px;
}



.card-title-text {
    margin-top: 30px;
    color: var(--text-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
}



.main-text {
    color: var(--main-text-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    margin: 10px 0;
}

.link {
    text-decoration: none;
    color: var(--main-text-color);
    text-shadow: 2px 2px 0px var(--text-shadow-color);
}

    .link:hover {
        border: 1px solid transparent;
        border-bottom: solid 2px var(--main-text-color);
    }

    .link:focus-visible {
        outline: none;
        border: solid 1px var(--main-text-color);
        padding: 0px;
    }

.gold_fish_section .group_section_card .rectangle .rectangle_text_bold {
    margin-bottom: 20px;
}

.section_card {
    margin-bottom: 20px;
}

.picture_section {
    margin-bottom: 30px;
}

.image {
    margin-top: var(--padding);
    display: grid;
    gap: 10px;
}

.tips-img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 0 10px;
}



.footer-title {
    color: var(--title-color);
    text-shadow: 2px 2px 0px var(--text-shadow-color);
    font-family: "IBM Plex Mono", monospace;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 95.7px */
    align-self: center;
    margin: 0px auto;
}

@media (768px <= width) {
    .cover_title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-bottom: 12px;
        margin-left: -20px;
    }

    .footer-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header {
        padding: 20px;
    }

    .main {
        padding: 20px;
    }

    .footer {
        padding: 20px;
    }
}


@media (width >= 768px) {

    .image {
        margin-top: 20px;
        gap: 20px;
    }

    .gallery-block {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .img-1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .img-2 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .img-3 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .img-4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .img-5 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}



@media (width >= 768px) {

    .title-section {
        display: flex;
        justify-content: flex-start;
        align-self: center;
    }

    .cover_rectangle {
        margin: 49px 0 0 0;
        max-width: 364px;
    }

    .header:before,
    .footer:before {
        --decor_padding: 20px;
    }

    .header:after,
    .footer:after {
        --decor_padding: 20px;
    }

    .decor {
        --padding: 20px;
        top: var(--padding);
        right: 48px;
    }

        .decor:after {
            top: 9px;
            left: 42px;
        }

    .header__theme-menu {
        align-self: flex-end;
        margin-bottom: 5px;
    }

    .section {
        margin-top: 40px;
        margin-bottom: 60px;
    }


    .focus_section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .rectangle_text_bold {
        margin: 0;
    }

    .section_card {
        margin-top: 0px;
    }

    .card-title-text {
        margin: 0;
    }

    .main-text {
        margin-bottom: 20px;
    }

    .gold_fish_section .group_section_card .rectangle .rectangle_text_bold {
        margin-bottom: 20px;
    }

    .card-title-second-section {
        margin-bottom: 20px;
        width: 30%;
    }

    .picture_section {
        margin-bottom: 40px;
    }

    .gold_fish_section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
}

@media (width >= 1024px ) {
    .rectangle_cover_section {
        margin-top: 10px;
    }

    .section {
        margin-bottom: 40px;
    }

    .focus_section {
        gap: 10px;
    }

    .concentration_section {
        margin-top: 60px;
    }

    .group_concentration_section_card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gold_fish_section {
        margin-top: 20px;
        gap: 10px;
    }

    .picture_section {
        margin-top: 0px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
    }

    .header__theme-menu-list {
        align-self: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .cover_rectangle {
<<<<<<< HEAD
=======
        max-height: 71px;
>>>>>>> cec5a9f983f2979f436bc332f7c016bc5762da06
        max-width: 491px;
    }
}
