/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --rectangle-color: #FF0070;
    --main-text-color: #F1B2CE;
    --text-rectangle-color: #000028;
    --title-color: #DB00FF;
    --text-shadow-color: #FF0070;
    --text-button-color: #FF0070;
    --text-color: #FF0070;
    --button-gap: 10px;
    --padding: 10px;
    --decor-color: #FF0070;
}
